@page "/admin/transactions"
@inherits OwningComponentBase<ITransactionRepository>



<TransactionTable TableTitle="Not Shipped Transactions" Transactions="NotShippedTransactions"
                  ButtonLabel="Shipped" TransactionSelected="ShipTransaction"></TransactionTable >

<TransactionTable TableTitle="Shipped Transactions" Transactions="ShippedTransactions"
                  ButtonLabel="Reset" TransactionSelected="ResetTransaction"></TransactionTable>



<button class="btn btn-info" @onclick="@(x => UpdateData())">Refresh Data</button>


@code {

    public ITransactionRepository repo => Service;

    public IEnumerable<Transaction> AllTransactions { get; set; }
    public IEnumerable<Transaction> NotShippedTransactions { get; set; }
    public IEnumerable<Transaction> ShippedTransactions { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }

    public async Task UpdateData()
    {
        AllTransactions = await repo.Transactions.ToListAsync();
        NotShippedTransactions = AllTransactions.Where(x => !x.Shipped);
        ShippedTransactions = AllTransactions.Where(x => x.Shipped);
    }

    public void ShipTransaction(int id) => UpdateTransaction(id, true);
    public void ResetTransaction(int id) => UpdateTransaction(id, false);

    private void UpdateTransaction(int id, bool shipped)
    {
        Transaction t = repo.Transactions.FirstOrDefault(x => x.TransactionId == id);
        t.Shipped = shipped;
        repo.SaveTransaction(t);
    }



}
