<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="bg-dark text-white p-2">
        <span class="navbar-collapse m-lg-2">
            Book Store <a asp-controller="Home" asp-action="Index" asp-route-category="" asp-route-pageNum="1" class="btn btn-outline-primary">Home</a><br />
        </span>
    </div>
    <div class=" row m-1 p-1">
        @RenderBody()
    </div>
</body>
</html>
