@page
@model BookStore1.Pages.TransactionCompletedModel
@{
}

<div class="text-center">
    <h2 class="text-center">Thanks! Your order has been placed!</h2>
    <a class="btn btn-primary" asp-controller="Home">Keep Shopping</a>
</div>